body {
    font-family: 'Noto Sans HK', sans-serif;
    background-color: hsl(35, 71%, 80%);
    color: hsl(35, 71%, 80%);

    /* set base font size. */
    font-size: 15em
    }
    h1 {color: black}