body {
  font-family: "Noto Sans HK", sans-serif;
  background-color: silver;
  color: gray;

  /* set base font size. */
  font-size: 20px;
}
h1 {
  color: goldenrod;
  font-size: 1.5em;
}

figure {
  margin: 25px auto;
  width: 500px;
  text-align: left;
}
/* stock image embedded in figure  */
img {
  max-width: 100%;
}
/* Navigation section */

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  margin: 0px 0px;
  background: whitesmoke;
  color: grey;
}

.dropdown ul {
  justify-content: space-around;
  display: none;
  background: rgb(191, 189, 206);
  color: grey;
  border-radius: 0 0 3px 3px;
  position: absolute;
  box-shadow: 3px 5px 5px rgb(191, 189, 206);
}
.dropdown:focus ul,
.dropdown:hover ul{
  display: flex;
  flex-direction: column;
}

header, header div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: cornsilk;
  justify-content: center;

}

header {
  height: 80vh;
  background-image: url(https://picsum.photos/900/560?grayscale);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
header div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Main */
main {
  display: flex;

}

main > section {
  margin: 10px;
  background-color: cornsilk;
  padding: 10px;
}
main section h2 {
  font-wieght: bold;
  text-transform: uppercase;
}

/*  Footer */
footer li{
  display: inline-block;

}
